In [23]:
import pandas as pd
import numpy as np
import json
from ast import literal_eval
from sklearn.preprocessing import MultiLabelBinarizer
import pickle

In [24]:
movies = pd.read_csv('../Data/tmdb_5000_movies.csv')
credits = pd.read_csv('../Data/tmdb_5000_credits.csv')

In [25]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [26]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
credits.rename(columns={'movie_id': 'id'}, inplace=True)

In [28]:
# Merge on movie id
movies = movies.merge(credits, on='id', how='left')

In [29]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
if 'title_x' in movies.columns:
    movies.rename(columns={'title_x': 'title'}, inplace=True)

if 'title_y' in movies.columns:
    movies.drop(columns=['title_y'], inplace=True)

## cleaning Data

In [45]:
movies['poster_path'].isna().sum()

KeyError: 'poster_path'

In [31]:
movies.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
dtype: int64

In [32]:
movies.info()

<class 'pandas.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   str
 2   homepage              1712 non-null   str
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   str
 5   original_language     4803 non-null   str
 6   original_title        4803 non-null   str
 7   overview              4800 non-null   str
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   str
 10  production_countries  4803 non-null   str
 11  release_date          4802 non-null   str
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   str
 15  status                4803 non-null   str
 16  tagline               3959 non-null   str
 17  title                 4803 non-null   str
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   str
 21  crew                  4803 non-null   str
dtypes: float64(3), int64(4), str(15)
memory usage: 825.6 KB

# parsing json strings into python objects

In [33]:
def parse_json_column(column):
        """Parse JSON-like string columns"""
        def safe_parse(x):
            try:
                if pd.isna(x):
                    return []
                return literal_eval(x)
            except:
                return []
        return column.apply(safe_parse)

In [34]:
movies['genres'] = parse_json_column(movies['genres'])
movies['keywords'] = parse_json_column(movies['keywords'])
movies['cast'] = parse_json_column(movies['cast'])
movies['crew'] = parse_json_column(movies['crew'])

In [35]:
movies['genres']

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801                                                   []
4802                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

Extracting  names from dictonary

In [36]:
def extract_names( items, key='name', limit=None):
        """Extract names from list of dictionaries"""
        if isinstance(items, list):
            names = [item[key] for item in items if key in item]
            return names[:limit] if limit else names
        return []

In [37]:
movies['genres']=movies['genres'].apply(lambda x :extract_names(x))
movies['keyword'] = movies['keywords'].apply(lambda x: extract_names(x, limit=10))
movies['cast'] = movies['cast'].apply(lambda x: extract_names(x, limit=5))

In [38]:
def get_director(crew):
            if isinstance(crew, list):
                directors = [member['name'] for member in crew if member.get('job') == 'Director']
                return directors[0] if directors else None
            return None
        
movies['director'] = movies['crew'].apply(get_director)

dropping NA

In [39]:
# Remove movies with no genres
movies = movies[movies['genres'].apply(len) > 0]

# Remove missing overview or rating
movies = movies.dropna(subset=['overview', 'vote_average'])

# Keep quality movies only
movies = movies[movies['vote_count'] >= 50]

print(f"Remaining movies: {len(movies)}")

Remaining movies: 3652

In [40]:
# Filter movies with minimum votes (quality threshold)
movies = movies[movies['vote_count'] >= 50]

In [41]:
# Mood to genre mapping
mood_genre_map = {
            'happy': ['Comedy', 'Family', 'Animation', 'Music'],
            'sad': ['Drama', 'Romance'],
            'excited': ['Action', 'Adventure', 'Science Fiction'],
            'scared': ['Horror', 'Thriller'],
            'romantic': ['Romance', 'Drama'],
            'thoughtful': ['Documentary', 'Drama', 'History'],
            'adventurous': ['Adventure', 'Action', 'Fantasy'],
            'relaxed': ['Comedy', 'Family', 'Animation'],
            'mysterious': ['Mystery', 'Thriller', 'Crime'],
            'inspired': ['Documentary', 'Biography', 'History'],
        }
# Mood to keyword hints (these help refine recommendations)
mood_keyword_hints = {
            'happy': ['comedy', 'friendship', 'love', 'celebration', 'fun'],
            'sad': ['loss', 'tragedy', 'melancholy', 'death', 'breakup'],
            'excited': ['explosion', 'chase', 'hero', 'battle', 'victory'],
            'scared': ['ghost', 'monster', 'haunted', 'murder', 'supernatural'],
            'romantic': ['love', 'relationship', 'wedding', 'romance', 'couple'],
            'thoughtful': ['philosophy', 'life', 'society', 'truth', 'meaning'],
            'adventurous': ['journey', 'exploration', 'quest', 'treasure', 'travel'],
            'relaxed': ['slice of life', 'peaceful', 'calm', 'nature', 'family'],
            'mysterious': ['detective', 'investigation', 'conspiracy', 'secret', 'puzzle'],
            'inspired': ['success', 'achievement', 'courage', 'overcoming', 'motivation'],
        }

In [42]:
print("Calculating mood scores...")

for mood in mood_genre_map.keys():
    scores = []
    preferred_genres = mood_genre_map[mood]
    keyword_hints = mood_keyword_hints.get(mood, [])
    
    for _, row in movies.iterrows():
        score = 0
        
        # Genre matching
        genre_matches = len(set(row['genres']) & set(preferred_genres))
        score += genre_matches * 3
        
        # Keyword matching
        movie_keywords = [k.lower() for k in row['keyword']]
        keyword_matches = sum(
            1 for hint in keyword_hints 
            if any(hint in kw for kw in movie_keywords)
        )
        score += keyword_matches * 1.5
        
        # Rating boost
        score += (row['vote_average'] / 10) * 2
        
        # Popularity boost
        if row['popularity'] > 10:
            score += 0.5
        
        scores.append(score)
    
    movies[f'mood_{mood}_score'] = scores

print("Mood scoring complete.")

Calculating mood scores...
Mood scoring complete.

In [43]:
columns_to_keep = [
    'id', 'title', 'overview', 'genres',
    'vote_average', 'vote_count', 'popularity',
    'release_date', 'runtime',
    'cast_names', 'director', 'poster_path'
]

mood_columns = [col for col in movies.columns if col.startswith('mood_')]
columns_to_keep.extend(mood_columns)

columns_to_keep = [col for col in columns_to_keep if col in movies.columns]

final_df = movies[columns_to_keep].copy()

output_path = 'processed_movies.pkl'

with open(output_path, 'wb') as f:
    pickle.dump(final_df, f)

print(f"Saved {len(final_df)} movies")

Saved 3652 movies

In [44]:
print("Preprocessing Complete!")
print("Available moods:", list(mood_genre_map.keys()))
final_df.head()

Preprocessing Complete!
Available moods: ['happy', 'sad', 'excited', 'scared', 'romantic', 'thoughtful', 'adventurous', 'relaxed', 'mysterious', 'inspired']

,id,title,overview,genres,vote_average,vote_count,popularity,release_date,runtime,director,mood_happy_score,mood_sad_score,mood_excited_score,mood_scared_score,mood_romantic_score,mood_thoughtful_score,mood_adventurous_score,mood_relaxed_score,mood_mysterious_score,mood_inspired_score
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]",7.2,11800,150.437577,2009-12-10,162.0,James Cameron,1.94,1.94,10.94,1.94,3.44,3.44,12.44,1.94,1.94,1.94
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]",6.9,4500,139.082615,2007-05-19,169.0,Gore Verbinski,3.38,1.88,7.88,1.88,3.38,3.38,10.88,1.88,1.88,1.88
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]",6.3,4466,107.376788,2015-10-26,148.0,Sam Mendes,1.76,1.76,7.76,1.76,1.76,1.76,7.76,1.76,6.26,1.76
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]",7.6,9106,112.312950,2012-07-16,165.0,Christopher Nolan,2.02,5.02,5.02,5.02,5.02,5.02,5.02,2.02,9.52,2.02
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]",6.1,2124,43.926995,2012-03-07,132.0,Andrew Stanton,1.72,1.72,10.72,1.72,1.72,1.72,9.22,1.72,1.72,1.72